@model IEnumerable<PartyInvites_Ass2_WilsonGuaman.Models.GuestRespose>
@{
   // Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <div class=" text-center p-2">
         <h2>Here is the list of people attending the party</h2>
         <table class="table-boredered table-striped table-sm">
        <thead>
            <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
        </thead>
        <tbody>
            @foreach (PartyInvites_Ass2_WilsonGuaman.Models.GuestRespose r in Model)
             {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                </tr>
             }
        </tbody>
        </table>
    </div>
</body>
</html>
